.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;

  margin-top: auto;
}

.noData {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.loader {
  position: absolute;
  inset: 50%;
}
